<form (ngSubmit)="onSubmit()">
    <div class="input-group">
        <p>
            <label for="initial-input">Initial Investment</label>
            <input id="initial-input" type="number" name="initial-input" [(ngModel)]="enteredInitialIvestment">
        </p>

        <p>
            <label for="annual-input">Annual Investment</label>
            <input id="annual-input" type="number" name="annual-input" [(ngModel)]="enteredAnnualInvestment">
        </p>
    </div>

    <div class="input-group">
        <p>
            <label for="expected-return">Expected Return</label>
            <input id="expected-return" type="number" name="expected-return" [(ngModel)]="enteredExpectedReturn">
        </p>

        <p>
            <label for="duration">Duration</label>
            <input id="duration" type="number" name="duration" [(ngModel)]="enteredDuration">
        </p>
    </div>
    <button>Calculate</button>
</form>
